<div class="panel-heading text-center top-frame">
<div class="container-fluid">
<h2>
We're gonna find ya the weather. I guarantee it.
</h2>
<p>Created by <a href="https://github.com/kunomaclis">Kunomaclis</a></p>
</div>
</div>
<br>
<br>
<div class="row">
<div class="results col md-8 container">
<section>
<h2 class='text-center'> Results Container</h2>
<div class="content body">
  <p>Here's a bunch of mumbo jumbo</p>
  <p>Mumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumboMumbo-jumbo</p>
</div>
</section>
</div>

</div>
