<div class="row">
  <div class="top-frame container-fluid">
    <div class="col-sm-11">
      <h1 class="text-bottom" id='currentLocation'>
        We're gonna find ya the weather. I guarantee it.
      </h1>
    </div>
    <div class="col-sm-1">
      <br>
      <p class="text-right">Created by: <a href="https://github.com/kunomaclis">Kunomaclis</a></p>
    </div>
  </div>
</div>
<br>
<br>
<div class="results container">
  <section>
   <h2 class='text-center' id="currentTemp"><img src="#"> ...</h2>
   <h6 class='text-center'><a href="#" id="toggle">Toggle C/F</a></h6>
   <div class="content body">
    <p class='text-center' id='high-low'></p>
    <p class='text-center' id='currentWeather'></p>
  </div>
</section>
</div>
